
<table id="users">
    <tr>
      <th *ngFor="let col of columns">
        {{col}}
      </th>
    </tr>
    <tr *ngFor="let user of users">
      <td *ngFor="let col of index">
        {{user[col]}}
      </td>
    </tr>
  
  </table>
<router-outlet></router-outlet>